# H1: Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are summarized

Some of the popular languages that Data Scientist use are:

1. Python
2. C++
3. Java
4. SQL

#### H4: Some of the commonly used libraries used by Data Scientists include: 
1. ggplot
2. PANDAS
3. Lattice

|Data Science Tools|
--------------------
VS Code
Github
TensorFlow

### H3: Below are a few examples of evaluating arithmetic expressions in Python.

This is a simple arithmetic expression to multiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

# H1: Objectives:

- Python
- C++
- Java

## H2: Author

Katelyn Allen